<div class="card my-5" *ngIf="user$ | async as user"> <!-- NOTE. Needs *ngIf!-->
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of users"> -->
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <!-- </tr> 
        Registration: 866-211-6588
        Mass General Boston
        
        
        11:20 October 21st - Sign up virtual, visit with Dr. Wei, 
        800-745-9683
        
        Send link on Patient Gateway, make sure have Zoom, Wei will call.
        
        -->
      </tbody>
    </table>
  </div>
</div>